<%# Navbar________________________________ %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div id="catlogo"><%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "mastercat.png" %>
    <% end %></div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in ?%>
          <li class="nav-item active"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%# Banner________________________________ %>
<div class="banner" style="background-image: url(https://res.cloudinary.com/dcd4fkkhk/image/upload/v1677661582/catback_wsrgzd.jpg);">
  <div class="container">
    <h1>Book a Chef Cat !</h1>
    <p>Change your cooking method, trust the cat, </p>
    <p>it will kaned the pizza with its PAWS ! </p>
  </div>
</div>

<%# Cards on Grid________________________________ %>
<div class="container-center d-flex justify-content-center">
  <div class="container-homepage">
    <% @chefs.each do |chef| %>
      <div class="card">
        <% if  chef.photo.attached? %>
          <%= cl_image_tag chef.photo.key,class:'card-img' %>
        <%else %>
          <%= image_tag "https://res.cloudinary.com/dcd4fkkhk/image/upload/v1677683967/1b2b31760ec6ace9d732335318153ad4_ncscy0.jpg", class:'card-img' %>
        <% end %>
      <div class="card-info">
        <p class="text-title"><%= chef.cat_name %> </p>
        <p class="text-title"><%= chef.speciality %></p>
      </div>
      <div class="card-footer">
      <span class="text-title"><%= chef.price %>€</span>
      <div class="card-button">
        <%= link_to chef_path(chef) do %>
          <i class="fa-solid fa-cat"></i>
        <% end %>
      </div>
    </div></div>
    <%end%>
  </div>
</div>

<%# Button bottom________________________________ %>
<div class="container-btn">
<div type="button" class="btn btn-warning"><%= link_to 'Add a Chef Cat', new_chef_path%> </div>
<div type="button" class="btn btn-warning"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
  class: "dropdown-item" %></div>
</div>
