<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div id="catlogo"><%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "mastercat.png" %>
    <% end %></div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%if user_signed_in?%>
          <li class="nav-item active"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container-show">
  <div class="img-show">
      <% if  @chef.photo.attached? %>
        <%= cl_image_tag @chef.photo.key %>
      <%else %>
        <%= image_tag "https://res.cloudinary.com/dcd4fkkhk/image/upload/v1677683967/1b2b31760ec6ace9d732335318153ad4_ncscy0.jpg" %>
      <% end %>
  </div>
  <div class="details-show">
    <div class="text-show">
      <h2><%= @chef.cat_name %></h2>
      <h3><%= @chef.speciality %></h3>
      <h4><%= @chef.price %> euros </h4>
      <p>"I don't always cook at home, but when I do, I wear my fanciest apron."

"Cooking is like a box of chocolates, you never know what you're gonna get... unless you follow the recipe, of course."

"I'm not lazy, I'm just conserving my energy for the really important things... like stirring the risotto."

"I don't always cook with wine, but when I do, I put some in the food too."

"I don't make mistakes in the kitchen, I just improvise new recipes."

"I don't need a sous chef, I have my trusty whisker-tongs."</p>
    </div>
    <div class="btn-show">
      <%= link_to 'Back Home', root_path %>
      <%= link_to "Delete",
        chef_path(@chef),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      <%= link_to 'update or edit', edit_chef_path %>
      <%= link_to 'Book me', new_chef_booking_path(@chef.id) %>
    </div>
  </div>
</div>
