<h1><%= @chef.cat_name %></h1>

<h2>Description 😽</h2>

<p><%= @chef.speciality %>
<%= @chef.price %> euros </p>
<%= link_to 'Back Home', root_path %>
 <% if  @chef.photo.attached? %>
          <%= cl_image_tag @chef.photo.key, height: 300, width: 400, crop: :fill, class: 'center-img' %>
          <%else %>
          <%= image_tag "OIP.jpg", height: 300, width: 400, crop: :fill, class: 'center-img' 'card-img-top' %>
    <% end %>

<%= link_to "Delete",
  chef_path(@chef),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to 'update or edit', edit_chef_path %>
<%= link_to 'Book me', new_chef_booking_path(@chef.id) %>
